.loginform-card

{
    padding: 20px;
    border-radius:10px;
    box-shadow: 0px 0px 2px #000000;
    background: silver
    

}
.colored-container
{
    background-color: burlywood;
    min-height: 1200px;
    display: block;
}
.jumbo
{
   
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px #000000;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
.jumbo2
{
    
background-color: skyblue;
padding: 10px;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 30px;
color: maroon

}

.button
{
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    }
.already
{
    font-size: 20px
;}
.h3
{
    text-align: center;
    
    font-size: 30px;
    font-display: initial;
    color: maroon;
    
}
    