.colored-container
{
    background-color: burlywood;
    min-height: 1200px;
    display: block;
}

.jumbo3
{
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px #000000;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
.jumbo5
{
        
    background-color: skyblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 20px;
    }

    .button
{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
 
    }
.already
{
    font-size: 18px;
}
.h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.drop-area, .view-area {
    height: 400px;
    border: 2px solid #000000;
    top: 50%;
    left: 0%;
    padding: 100px 0;
    text-align: center;
}

.view-area {
    padding: 0;
    font-size: 13px;
}
    
.forecast-table-header {
    text-align: center;
}

#products {
    border-radius: .25rem;
    border-width: 1px;
    background: #ffffff;
    height: 4vh;
    color: #495057;
}
